@media screen and (min-width:900px){
    .content-video{

         position:absolute;
         top:230px;
         left:35%
         
         
     }
}



/* ////////////////////////////////////////////////////////////////////// */

@media screen and (min-width:1000px){
    .header-top{
       justify-content:space-between;
        margin:10px 2%;
    
    }
    .navbar{
        top:25px;
        right:10px;
        
    }
    .content-video{
        position:absolute;
        top:230px;
        left:38%
    }

/*  ////////////// CARDS ///////// */
    .cards{
        margin: auto 10%;
    }    
    
/*                 SOBRE             */ 
    .sobreflexrow{
        display: flex;
        flex-direction: row;
        justify-content:space-between;
        margin:10px 10%;
    }
    .sobre-text{
        padding: 30px 90px 20px 90px;
        font-size:18px;
        position: relative;
        top:40px;
        left:10px;
    }

/*            HORARIOS       */
.ajustarback{
    margin:40px 15%;
    background:linear-gradient(#031504,#03150488);
    border-radius: 100px 5px 100px 5px;
    
}
#horarios table{
    padding-left: 40px;
}
#endereco iframe{
  width: 550px;}
}


@media screen and (min-width:1200px){
    .content-video{
        position:absolute;
        top:230px;
        left:38%
    }
}
@media screen and (min-width:1400px){
    .content-video{
        position:absolute;
        top:230px;
        left:38%
    }
}
@media screen and (min-width:1600px){
    .content-video{
        position:absolute;
        top:230px;
        left:42%
    }
}





