

body {
    font-family: 'Outfit', sans-serif;
    background:#d3d5da;
}

.header-top{
    display: flex;
    justify-content:space-between;
    align-items:center;
    background: #d3d5da;
    height: 5.5em;
    
}
.logotipo{
    width: 28%;
    max-width: 120px;
}
.header-top i{
    font-size: 25px;
    padding-right: 20px;
    color:rgb(0, 0, 0);
}
.navbar{
    text-align: right;
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content:space-evenly;
    position:absolute;
    right:0%;
    width: 250px;
    background:#d3d5da;
    right:-100%;
    transition: .55s;
    border-radius: 0px ;
    border-bottom-left-radius: 10px;
    display: none;
    overflow: cover;
    
}
.navbar a{
    padding:25px;
    font-weight: 500;
    color:black;
}
.navbar a i{
    padding-left: 10px;

}
.navbar--ativo{
    right:0%;
    transition: .55s;
    display:flex;
} 

/*               START - MAIN - Video            */

.start-main h1{
    text-align: center;
    font-size:2em;
    font-weight: 700;
    padding:20px;
}

.video-desktop{
    display: none;
}




.container__video{
    width: 100vw;
    height:auto;
    border-radius: 5px;
    margin-top: 10px;

}
/*               START - MAIN - MOBILE            */

.backmobile {
    /* Center the content */
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;

   
    height: 60vh;
    width: 100%;

   
    background:url("/img/backmobile.webp") center center / cover no-repeat;
}
.backmobile h1{
    position:relative;
    bottom:20px;
    opacity: 0.8;
    color:white;
    font-size:1.0rem;
    top: 8em;
    text-align: left;
    left:-30px;
}
/*         CARDS         */
.titlecards{
    text-align: center;
    margin:20px;
    text-align: center;
    font-size:1.5em;
    font-weight:bold;
    

}
.cards{
display: flex;
flex-direction: column;
align-items: center;
margin: 20px 10px;
background:#d3d5da;}
.cards article{
    margin:20px;
    text-align: center;
}
.cards img{
    width: 90%;
    height: 13em;
    border-radius:100%;
}
.cards p{
    text-align: center;
    font-size:1em;
    font-weight:550;
    margin:10px auto;
}

/*          SOBRE            */ 
#sobre{
    display: flex;
    flex-direction: column;
} 
.sobre-title{
    text-align: center;
    font-size:1.5em;
    font-weight:bold;
    margin:40px auto;
} 
.sobre-text{
    padding:30px;
    font-size:18px;
}
.element-div{width:100%;
text-align: center;}
.element-div-img{
    height:19em;
    width:70%;
    max-width: 270px;
    align-self: center;
    border-radius: 40% 2%;
   
}


/*                    HORARIOS                */
#horarios{
    margin:0px 0px;
    display: grid;
    text-align: center;
    

    
}
#horarios h2{
    color: white;
    opacity: 0.9
}
#horarios table{
    width:93%;
    height:auto;
    margin:1em;
    align-self: center;
    
    
    

    
}
#horarios thead{
    font-size: 1.1em;
    font-weight:bold;
    background-color:rgba(255, 255, 255, 0.07);
    border-top:1px solid rgba(255, 255, 255, 0.7);
    border-left:1px solid rgba(255, 255, 255, 0.7);
    border-right:1px solid rgba(255, 255, 255, 0.7);
    


    
}
#horarios td{
padding:10px 0px;
color:white;
opacity: 0.9;
border:rgba(255, 255, 255, 0.7)



}
.trunica{
    align-self: center;
}

#horarios tbody{border:1px solid black;}

#endereco{
padding-top: 100px;
text-align: center;

color:white;

}
#endereco h2{
    
    opacity: 0.9;
}
#endereco i{
    padding-left:7px;
    opacity: 0.9;
}
#endereco iframe{
    height:300px;
    border-radius: 10px;
    width: 90%;
    margin: 30px 0px;
}
.ajustarback{
    background: url("../img/backendereco.webp") center center / cover no-repeat;
    margin-top: 40px;
}

/*                     FORM                    */
.formcontact{
    display: flex;
    flex-direction: column;
    align-items:center;
    margin: 10px 0px;
    padding: 10px;
}
.formcontact div{
    margin: 20px;
    font-size: 1.3em;
}
.formcontact input,textarea{
   border-radius: 5px; 
}
.mensform{
 
}

.formcontact button{
    border: 1px solid black;
    padding:1.2em;
    font-weight: 700;
    border-radius: 10px;
    margin: 15px;
}
.iconsc{display: flex;
flex-direction: row;
justify-content:center;

}
.iconsc i{
    padding: 1em;
    font-size:2.6rem;
    color:black;
    border-radius: 50px;
}


/*                   FOOTER-MOBILE              */
.rodape{
    display: flex;
    flex-direction: column;
    align-items:center;
    background-color: black;
    color:white;
    width: 100%;
}
.rodape-list-ul{
    display: flex;
    
}
.rodape-list-li{
    padding: 8px;
    color: rgba(128, 128, 128, 0.748);
    font-size:12px;
}
.autoria{
    margin:40px auto 10px auto;
    font-weight: 500;
    opacity: 0.8;
}
@media screen and (min-width:360px){
    /*                     FORM                     */
    .mensform{
        position:relative;
        bottom:10px;
        left:0px;
    }


    /*                     FOOTER                    */
    .rodape{
        display: flex;
        flex-direction: column;
        align-items:center;
        background-color: black;
        color:white;
    }
    .rodape-list-li{
        padding: 8px;
        color: rgba(128, 128, 128, 0.748);
        font-size:15px;
    }

}


/*    //////////////////////////////////////////////////// */

